@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
} */

.page {
   @apply flex min-h-screen w-full flex-col items-center bg-white dark:bg-dark;
}
main {
   @apply text-[#535353] text-[0.9rm] dark:text-[#929292];
}
